@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  min-height: 100%;
}

/*-----INICIO:  BANNER -----*/
/*Banner*/
.banner {
  grid-area: banner;
  background-image: url("assets/banner-sm.svg");
  background-size: cover;
  color: #ffffff;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner__text {
  width: 90%;
}
.banner__subtitle {
  font-size: 1.4em;
}
.banner__title {
  font-size: 2em;
  font-weight: 700;
}
.banner-group__dot:nth-child(1) {
  background-color: #f8475f !important;
}
.banner-group__dot {
  background-color: #7a7a7a;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.banner-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
/*-----FIN:  BANNER -----*/

/*----- INICIO: NAVBAR -----*/
.navbar {
  padding: 0.5em;
  grid-area: navbar;
  display: grid;
  grid-template-areas:
    "first-row"
    "second-row";
}
.shopping-cart__pill {
  background-color: #f8475f;
  border-radius: 50%;
  padding: 0.5em;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 600;
}

.navbar__first-row {
  grid-area: first-row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__second-row {
  grid-area: second-row;
  padding: 0.5em 0.8em;
}
.navbar__logo {
  width: 100px;
}

.shopping-cart {
  display: flex;
  align-items: center;
}
.shopping-cart__icon {
  width: 1.125rem;
  margin-right: 0.5em;
}
.search-bar {
  width: 100%;
}

.search-bar__input {
  border: none;
  outline: none;
  border-bottom: 1px solid #7a7a7a;
  width: 90%;
  line-height: 1.5625rem;
  font-size: 0.8125rem;
  caret-color: #7a7a7a;
}
/*----- FIN: NAVBAR -----*/
/*----- INICIO: MAIN -----*/
.main-content__h2 {
  font-weight: 900;
  font-size: 1.125rem;
}
.main-content {
  grid-area: main;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em;
}
.main-content hr {
  width: 65px;
  border: 2px solid #c0c0c0;
  margin: 1em 0;
}
/*----- FIN: NAVBAR -----*/

/*----- INICIO: PRODUCTS-CONTAINER -----*/
.products-container {
  position: relative;
}
.products-slider {
  display: flex;
  gap: 100px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  width: 75em;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
}
#left,
#right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
.btn__comprar {
  width: 100%;
  height: 36px;
}
.product {
  min-width: 216px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.product__name {
  font-weight: 600;
  font-size: 0.625rem;
  color: #7a7a7a;
}
.product__price {
  font-weight: 700;
  font-size: 1rem;
}
.product__listPrice {
  font-size: 11px;
  text-decoration: line-through;
  color: #7a7a7a;
}
.product__quantity {
  font-size: 11px;
  color: #7a7a7a;
}
.product__image--img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__stars {
  display: flex;
  justify-content: center;
  margin: 0.8em 0;
}
.product__off {
  width: 100%;
  position: relative;
}
.product__off-icon {
  width: 50px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
.product__info:hover {
  background-color: #e6e8ea;
}
/*----- FIN: PRODUCTS-CONTAINER -----*/

/*----- INICIO: NEWSLETTER -----*/
.newsletter {
  grid-area: newsletter;
  background-color: #f2f2f2;
  padding: 1.5625rem 1rem;
}
.newsletter__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 22px;
}
.newsletter__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.9375rem auto;
}
.newsletter__input {
  border: none;
  outline: none;
  background-color: #ffffff;
  padding: 1.0625rem;
  border-radius: 5px;
  width: 100%;
}
/* .newsletter__input:nth-child(1) {
  margin-bottom: 22px;
} */
.newsletter__btn {
  width: 100%;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
}
.newsletter__error{
  font-size: 12px;
  color: #D7182A;
  margin: 1em;
}
.newsletter-group{
  width: 100%;
}
.success__title, .success__text{
  font-size: 0.875rem;
  text-align: center;
  line-height: 14px;
}
.btn-newsletter{
  width: 328px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  margin-top: 15px;
}
.success__title{font-weight: 700;}
.newsletter__success{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5625rem 0;
}
/*----- FIN: NEWSLETTER -----*/

/*----- INICIO: FOOTER -----*/
.footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  padding: 1.25rem 0.9375rem 2em;
  border-bottom: 5px solid #c0c0c0;
}
.footer__title {
  font-weight: 700;
  font-size: 1.125rem;
}
.footer__info {
  line-height: 24px;
  font-size: 0.8125rem;
  font-weight: 400;
}
.footer hr {
  width: 1.875rem;
  border: 2px solid #ffffff;
  margin: 0.625rem 0;
}
.footer__contact {
  display: grid;
  grid-template:
    "email" 38px
    "." 26px
    "call" 38px;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.footer_contact-div:nth-child(1) {
  grid-area: email;
}
.footer_contact-div:nth-child(2) {
  grid-area: call;
}
.footer_contact-div {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  font-size: 0.75rem;
  display: flex;
  width: 200px;
  padding: 0.75rem;
  border-radius: 5px;
}
.footer__contact-img {
  margin-right: 10px;
}
.footer__logos {
  display: grid;
  grid-template-areas: "corebiz . vtex";
  justify-content: space-around;
}
.footer__logos-corebiz,
.footer__logos-vtex {
  display: flex;
  flex-direction: column;
}
.footer__logos-corebiz {
  grid-area: corebiz;
  font-size: 12px;
}
.footer__logos-vtex {
  grid-area: vtex;
}
/*----- FIN: FOOTER -----*/

/*----- GRIDS -----*/
.grid-container {
  display: grid;
  grid-template:
    "header" auto
    "main" auto
    "newsletter" auto
    "footer" auto;
}
.grid-header {
  display: grid;
  grid-template:
    "navbar" 80px
    "banner" 190px;
}
.btn {
  background-color: #000000;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
}
/*----- MEDIAQUERIES -----*/
@media all and (min-width: 375px) and (max-width: 480px) {
  .products-slider {
    width: 20em;
    gap: 50px;
  }
  .product-item-card {
    width: 132px;
  }
}
@media all and (min-width: 481px) and (max-width: 666px) {
  .products-slider {
    width: 25em;
  }
  .newsletter__btn {
    width: 50%;
  }
}
@media all and (min-width: 667px) and (max-width: 768px) {
  .products-slider {
    width: 40em;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 10rem;
  }
  .newsletter__title {
    text-align: center;
  }
  .newsletter-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1em;
    gap: 20px;
  }
  .newsletter__input {
    width: 80%;
  }
  .newsletter__btn {
    width: 50%;
  }
  .newsletter__input:nth-child(1) {
    margin-bottom: 0;
  }
}
@media all and (min-width: 769px) and (max-width: 900px) {
  .products-slider {
    width: 50em;
  }
  .newsletter-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1em;
    gap: 20px;
  }
  .newsletter__input:nth-child(1) {
    margin-bottom: 0;
  }
  .newsletter__btn {
    width: 50%;
    margin-top: 0;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__logos {
    width: 20%;
  }
  .newsletter__form {
    gap: 30px;
    flex-direction: row;
  }
  .newsletter__input:nth-child(1) {
    margin-bottom: 0;
  }
  .newsletter {
    padding: 25px 5em;
  }
}
@media all and (min-width: 900px) and (max-width: 1200px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 5em;
  }
  .footer__logos {
    width: 20%;
  }
  .footer__title {
    font-size: 1.25rem;
  }
  .banner {
    background-image: url("assets/banner-lg.svg");
  }
  .grid-header {
    grid-template:
      "navbar"
      "banner" 340px;
  }
  .newsletter__form {
    gap: 30px;
    flex-direction: row;
  }
  .newsletter__btn {
    margin-top: 0;
    width: 20%;
  }
  .newsletter {
    padding: 25px 10em;
  }
  .newsletter__title {
    text-align: center;
  }
  .newsletter__form {
    gap: 30px;
    flex-direction: row;
  }
  .newsletter__input:nth-child(1) {
    margin-bottom: 0;
  }
  .newsletter-group {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}
@media all and (min-width: 1201px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 10em;
  }
  .footer__logos {
    width: 12%;
  }
  .banner {
    background-image: url("assets/banner-lg.svg");
  }
  .grid-header {
    grid-template:
      "navbar"
      "banner" 340px;
  }
}
