@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  min-height: 100%;
}

/*----- HEADER -----*/
/*Banner*/
.banner {
  grid-area: banner;
  background-image: url("assets/banner-sm.svg");
  background-size: cover;
  color: #ffffff;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-text {
  width: 90%;
}
.banner-subtitle {
  font-size: 1.4em;
}
.banner-title {
  font-size: 2em;
  font-weight: 700;
}
.dot:nth-child(1) {
  background-color: #f8475f !important;
}
.dot {
  background-color: #7a7a7a;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.banner-dots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
/*Navbar*/
.navbar {
  padding: 0.5em;
  grid-area: navbar;
  display: grid;
  grid-template-areas:
    "first-row"
    "second-row";
}
.pill {
  background-color: #f8475f;
  border-radius: 50%;
  padding: 0.5em;
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 600;
}
.navbar svg {
  font-size: 1.2em;
}

.navbar__first-row {
  grid-area: first-row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__second-row {
  grid-area: second-row;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0.5em 0.8em;
}
.navbar-logo {
  width: 100px;
}
.navbar-logo img {
  width: 100%;
}

.shopping-cart {
  display: flex;
  align-items: center;
}
.shopping-cart_icon {
  width: 1.125rem;
  margin-right: 0.5em;
}
.search-bar {
  width: 100%;
}

#search-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #7a7a7a;
  width: 90%;
  line-height: 1.5625rem;
  font-size: 0.8125rem;
  caret-color: #7a7a7a;
}

/*HEADER*/
.header h3 {
  text-align: left;
}
.header-title {
  font-size: 2.7em;
}

/*----- MAIN -----*/
.main-content {
  grid-area: main;
}
/*Products*/
.products-container {
  display: flex;
  overflow: hidden;
}
/*Product item*/
.btn-comprar {
  width: 100%;
  height: 36px;
}
.product-item-card {
  width: 140px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.product-item-name {
  font-weight: 600;
  font-size: 0.625rem;
  color: #7a7a7a;
}
.product-item-price {
  font-weight: 700;
  font-size: 1rem;
}
.product-item-listPrice {
  font-size: 11px;
  text-decoration: line-through;
  color: #7a7a7a;
}
.product-item-quantity {
  font-size: 11px;
  color: #7a7a7a;
}
.product-item-image {
  width: 132px;
}
.product-item-image img {
  width: 100%;
}
.product-item-stars {
  display: flex;
  justify-content: center;
}
.product-item-off {
  width: 100%;
}

/*----- NEWSLETTER -----*/
.newsletter {
  grid-area: newsletter;
  background-color: #f2f2f2;
  padding: 1.5625rem 1rem;
}
.newsletter h3 {
  font: 700;
  font-size: 1.5rem;
  line-height: 22px;
}
/*Newsletter form*/
.form-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.9375rem auto;
}
.form-input {
  border: none;
  outline: none;
  background-color: #ffffff;
  padding: 1.0625rem;
  border-radius: 5px;
  width: 100%;
}
.form-input:nth-child(1) {
  margin-bottom: 22px;
}
.form-btn {
  width: 100%;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
}
/*----- FOOTER -----*/
.footer {
  grid-area: footer;
  background-color: #000000;
  color: #ffffff;
  padding: 1.25rem 0.9375rem 2em;
  border-bottom: 5px solid #c0c0c0;
}
/*Footer info*/
.footer-info_title {
  font-weight: 700;
  font-size: 1.125rem;
}
.footer-info_text {
  line-height: 24px;
  font-size: 0.8125rem;
  font-weight: 400;
}
.footer-info hr {
  width: 1.875rem;
  border: 2px solid #ffffff;
  margin: 0.625rem 0;
}
/*Footer contact*/
.footer-contact {
  display: grid;
  grid-template:
    "email" 38px
    "." 26px
    "call" 38px;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.footer-contact-item:nth-child(1) {
  grid-area: email;
}
.footer-contact-item:nth-child(2) {
  grid-area: call;
}
.footer-contact-item {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  font-size: 0.75rem;
  display: flex;
  width: 200px;
  padding: 0.75rem;
  border-radius: 5px;
}
.footer-contact-item img {
  margin-right: 10px;
}
/*Footer logos*/
.footer-logos {
  display: grid;
  grid-template-areas: "corebiz . vtex";
  justify-content: space-around;
}
.footer-logo-corebiz,
.footer-logo-vtex {
  display: flex;
  flex-direction: column;
}
.footer-logo-corebiz {
  grid-area: corebiz;
  font-size: 12px;
}
.footer-logo-vtex {
  grid-area: vtex;
}

/*----- GRIDS -----*/
.grid-container {
  display: grid;
  grid-template:
    "header" auto
    "main" auto
    "newsletter" 275px
    "footer" 370px;
}
.grid-header {
  display: grid;
  grid-template:
    "navbar" 80px
    "banner" 190px;
}
.btn {
  background-color: #000000;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
}
